


<!-- <div id="prolist" class="col">
    <div *ngFor="let bookings of allbookings | search:searchkey : 'usermail' " class="card shadow m-5 p-1  text-light w-75" style="height: auto;" > -->


        <!-- <img [src]="bookings.restaurantimg" class="card-img-top" alt="..." height="200px" /> -->
    
        <!-- <div class="card-body text-center p-2" style="background-color: black">
          <h5 class="card-title" style="font-style: italic; color: white">{{bookings.name}}</h5>
          <p class="card-text text-secondary">{{bookings.restaurant}}</p>
          <p class="card-text text-secondary">{{bookings.date}}</p>

          <p class="card-text text-secondary">{{bookings.mobile}}</p>

        </div>
      </div>
</div> -->

<app-header></app-header>


<div class=" container  justify-content-center">

  <div class="justify-content-center m-3">
    <div *ngFor="let bookings of allbookings | usersearch:searchkey : 'usermail' " id="card" class= "row mb-5  border w-100 h-25">
  
     <div class="col-lg-3">
  
      <img class="w-100 h-100 rounded" [src]="bookings.restaurantimg" alt="....">
  
     </div>
  
     <div class="col-lg-3">
  
      <h1>Restaurant Name</h1>

      <h3>{{bookings.restaurant}}</h3>
         
     </div>
     <div class="col-lg-3">
        <h1>Contact Details</h1>
      <div>
  
        <p>name:{{bookings.name}}</p>
  
        <p>email:{{bookings.usermail}}</p>
  
        <p>Phone No:{{bookings.mobile}}</p>
  
        <p></p>
  
      </div>
  
  
  
     </div>
     <div class="col-lg-3 text-center">

      <h1 class="text-center mt-5">Date:{{bookings.date}}</h1>


      <button type="button" (click)="deletebooking(bookings._id)" class="btn btn-danger">Cancel</button>


      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Cancel</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure You want to cancel 
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" (click)="deletebooking(bookings._id)" data-bs-dismiss="modal" class="btn btn-danger">cancel</button>
            </div>
          </div>
        </div>
      </div>
     </div>


     
    
  
     
  
  
      
  
  
  
    </div>
  </div>



</div>





