

   

        <div class="main  position-fixed border rounded m-5" style= " width: 17%; height: 550px;" >

            <div class="d-flex justify-content-center mt-5 mb-3">
                <img style="height: 50%; width:50% ; border-radius: 50%;" src="https://toppng.com/uploads/preview/icons-logos-emojis-user-icon-png-transparent-11563566676e32kbvynug.png" alt="err">
            </div>

            <ul class="list-unstyled" >

                <div class="sidebtn" routerLink="/admin"><li class="fw-bold" > DashBoard </li></div>

                <div class="sidebtn" routerLink="/admin/all"><li class="fw-bold" > Restaurants </li></div>

                <div class="sidebtn" routerLink="/admin/allbookings"><li  class="fw-bold" > Bookings </li></div>

                <div class="sidebtn" routerLink=""><li  class="fw-bold" > Reviews </li></div>



            </ul>

        </div>

        


    

