<div class="row">

    <div class="col-3">

        <app-nav></app-nav>

    </div>
    <div class="col-9">


        <div class="mt-5 me-5">

            <div class="row" >

                <div class="col-6">

                    <div class=" bookings   border rounded" style=" height: 270px; overflow: scroll;">

                    </div>

                    <div class="border rounded mt-2" style=" height: 270px;">


                    </div>


                </div>



                <div class=" bookings col-6 border rounded" style=" height: 550px; overflow-x: hidden; ">




                </div>


            </div>



        </div>
        

    </div>


</div>