<!-- Header-->

<app-header></app-header>




<div class="body">
  <div class="row">
      <div class="col-lg-6 p-5 d-flex align-items-center">
  
        <h1 class="text-center">Welcome to the most complete, easiest-to-use, and truly reliable <span class="text-danger">restaurant platform</span> out there<br>
        </h1>
          
  
      </div>
  
  
      <div class="col-lg-6 p-5">
          <a href=""><img class="img-fluid w-100 h-75 rounded " src="https://i.postimg.cc/h4ZK2vJL/reserve.jpg" alt="..."></a>
  
          <h5> indoors and outdoors</h5>
      </div>
  
  
  
  </div>
  
  
  <section id="#about">
      <app-carousal></app-carousal>
  
      <div class="text-center m-5">
  
          <div>
              <button routerLink="/users/{{userId}}/allrestaurant"  mat-fab color="warn" aria-label="Example icon button with a home icon">
                <i class="fa-solid fa-store fa-2xl" style="color: #000000;"></i>
                </button>
          </div>
          <div>
              <h3>FOR BOOKINGS</h3>
          </div>
  
      </div>
  </section>
  
  
  
  <!-- Section-->
  
  
  <section id="about" class="p-5">
      <div class="row">
        <div class="col-sm-3 text-center">
          <i class="fa-solid fa-earth-americas fa-2xl" style="color: #000000;"></i>
          <h5>Peace of mind</h5>
          <p>
            Our Book with Confidence Guarantee gives you 24/7 support</p>
        </div>
        <div class="col-sm-3 text-center ">
          <i class="fa-sharp fa-solid fa-leaf fa-2xl" style="color: #000000;"></i>
          <h5>More quality time</h5>
          <p>
            From booking to staying, the whole process is simple and enjoyable</p>
        </div>
        <div class="col-sm-3 text-center">
          <i class="fa-solid fa-house-lock fa-2xl" style="color: #000000;"></i>
          <h5>Manage from anywhere</h5>
          <p>Use your phone, iPad, or computer to stay on top of the restaurant wherever you are</p>
        </div>
        <div class="col-sm-3 text-center">
          <i class="fa-solid fa-hand-holding-dollar fa-2xl" style="color: #000000;"></i>
          <h5>More for less</h5>
          <p>
            More space, more privacy, more amenities — more value
          </p>
        </div>
  
      </div>
    </section>
    <section class="p-5">
  
      <div class="your" style="background-image: url(https://res.cloudinary.com/sagacity/image/upload/c_crop,h_1600,w_2400,x_0,y_0/c_limit,dpr_auto,f_auto,fl_lossy,q_80,w_1080/Rosalie1__JennDuncan_jaeryu.jpg);
      background-size: cover;
      width: 100%;
      border-radius: 15px; height: 500px;">
  
  
        <div class="row">
          <div class="col-sm-4 ps-5">
            <h1 class="text" style="justify-content: left;
            padding-top: 20%;
            padding-bottom: 40%;
            color: white;">Find Your Spot
              That Suit Your Style</h1>
            <br><br><br>
          </div>
          <div class="col-sm-4"></div>
          <div class="col-sm-4"></div>
        </div>
  
       
  
  
  
      </div>
  
    </section>
  
    <section class="p-5">
  
      <div class="abt" style="text-align: justify;
      font-size: smaller;">
        <h3>What do reservation offer?</h3>
        <p class="lh-lg">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium id error asperiores
          doloribus a
          blanditiis possimus, at nesciunt libero cupiditate nihil voluptatem, fugit nam ab porro minus eius quasi alias.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta similique libero alias accusamus adipisci placeat
          delectus molestiae, deleniti repellendus illum distinctio ducimus error architecto voluptas facilis impedit cum.
          Ratione, obcaecati!
        </p>
      </div>
      <div class="abt" style="text-align: justify;
      font-size: smaller;">
        <h3>Here's why a restaurant reservation is a perfect choice</h3>
        <p class="lh-lg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae nulla temporibus
          exercitationem dicta
          molestiae quaerat iure molestias dolorem eum, dignissimos alias nesciunt debitis veritatis veniam natus aliquid,
          nam, accusamus cupiditate. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit veniam quidem vero
          fugit hic iusto sint maxime dolores numquam! Deserunt sint dolorum atque fuga aspernatur, aut nemo facilis
          veritatis dolore!</p>
      </div>
          
    </section>
  
    <section>
  
      <app-footer></app-footer>
  
      
      
    </section>
  
    
  
   
  
</div>