

<div class="head pt-5 text-center">

    <span class="text-danger fs-3 fw-bold">connect</span>

  </div>
  <!-- icons -->
  <div class="icondiv" style="margin-top: 1%;
  display: flex;
  align-items: center;
  justify-content: center;">

    <div class="icon" style="width: 50px;
    height: 50px;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;">
      <a target="_blank" href=""><i class="fa-brands fa-facebook fa-beat fa-lg"
          style="font-size: 20px; color: #0413f1;"></i></a>

    </div>
    <div class="icon" style="width: 50px;
    height: 50px;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;">
      <a target="_blank" href="https://wa.me/6"><i class="fa-brands fa-square-whatsapp fa-beat fa-lg"
          style="font-size: 20px; color: #1bfa07;"></i></a>

    </div>

    <div class="icon" style="width: 50px;
    height: 50px;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;">
      <a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-square-instagram fa-beat"
          style="font-size: 20px; color: #f00060;"></i></a>

    </div>
    <div class="icon" style="width: 50px;
    height: 50px;
  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;">
      <a target="_blank" href=""><i class="fa-sharp fa-solid fa-x fa-beat"
          style="font-size: 20px; color: #000000;"></i></a>

    </div>


  </div>



<footer class="py-5 bg-dark">


    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2024</p></div>
</footer>
